<div class="col-md-12">
    <div class="card card-container">
        <img src="assets\img\login.png" class="profile-img-card">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group p-2">
                <div class="d-grid gap-2">
                    <a href="/home" class="btn btn-primary">Login</a>
                </div>
            </div>
        </form>
        <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
        </div>
    </div>
</div>